@import "~@blueprintjs/table/lib/css/table.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  text-align: center;
}

/* 0d1117  */

.App-header {
  background-color: var(--headercolor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  background-color: #000000a8;
  backdrop-filter: blur(8px);
  border-bottom: #212121 1px solid;
}

@media print {
  h4 {
    page-break-before: always
  }
}

.logindiv {
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(30deg, #323cff 12%, transparent 12.5%, transparent 87%, #323cff 87.5%, #323cff), linear-gradient(150deg, #323cff 12%, transparent 12.5%, transparent 87%, #323cff 87.5%, #323cff), linear-gradient(30deg, #323cff 12%, transparent 12.5%, transparent 87%, #323cff 87.5%, #323cff), linear-gradient(150deg, #323cff 12%, transparent 12.5%, transparent 87%, #323cff 87.5%, #323cff), linear-gradient(60deg, #323cff77 25%, transparent 25.5%, transparent 75%, #323cff77 75%, #323cff77), linear-gradient(60deg, #323cff77 25%, transparent 25.5%, transparent 75%, #323cff77 75%, #323cff77);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

body {
  background: linear-gradient(112.1deg, var(--firstcolor) 11.4%, var(--seconscolor) 70.2%);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}